{% extends "layout.html" %}
{% block head %}
{{super()}}
<script type="text/javascript" src="../static/scripts/myDish.js"></script>
<script type="text/javascript" src="../static/scripts/login.js"></script>

<link rel="stylesheet" type="text/css" href="/static/content/myLogin.css" />
<link rel="stylesheet" type="text/css" href="/static/content/mySearch.css" />
<link rel="stylesheet" type="text/css" href="/static/content/myGrally.css" />


<style>
    .myContent {
        width: 94%;
        margin-top: 0.5%;
        margin-left: 3%;
    }

    .mysort {
        height: 7%;
        font-size: 140%;
        padding-top: 0.4%;
        background-color: white;
    }

        .mysort ul {
            display: inline;
        }

        .mysort li {
            display: inline;
            margin-left: 7%;
        }

        .mysort button {
            border: 0px;
            background-color: white;
        }

            .mysort button:active {
                background-color: gray;
            }

    .myorder {
        margin-top: 0.8%;
        background-color: white;
        padding-top: 0.3%;
        height: 5%;
    }

        .myorder li {
            display: inline;
            margin-left: 3%;
        }

        .myorder span {
            font-size: 60%;
            height: 50%;
        }
        .myorder button {
        border-style: none;
        background-color: white;
        width:6%;
        height:100%;
        text-align:left;
        /*background-color:green;*/
    }

        .myorder button:hover {
            background-color: RGB(245,245,245);
        }

    .myText {
        float:left;
        display: inline-block;
        width:67%;
        /*background-color:red;*/
        height:100%;    
    }
    .myIcon{
        margin-left:6%;
        display: inline-block;
        width:27%;
        height:100%;
    }
    .myUp {
        color:RGB(245,245,245);
        margin-left:2.5%;
        height: 50%;
    }

    .myDown {
        color:RGB(245,245,245);
        height: 50%;
    }

    .myInputDishInfo {
        display: none;
        position: fixed;
        opacity: 1;
        z-index: 10;
        left: 35%;
        top: 25%;
        width: 27%;
        height: 53%;
        background-color: white;
        border-style: outset;
        border-color: gray;
        border-radius: 10px;
    }

        .myInputDishInfo input[type='submit'] {
            width: 80%;
            margin-top: 3%;
            margin-left: 10%;
            border-radius: 5%;
        }

    .myClose {
        margin-top: 1%;
        width: 100%;
        height: 7%;
    }

        .myClose button {
            border-style: none;
            /*border-radius: 50%;*/
            width: 8%;
            height: 100%;
            margin-left: 88%;
            background-color: white;
        }

    .myInputDishInfo form {
        /*margin-left: 10%;*/
        /*margin-top: 10%;*/
    }

    #InputPictID {
        float: left;
        display: inline-block;
        width: 40%;
        height: 35%;
        margin-top: 4%;
        margin-left: 5%;
    }

        #InputPictID button {
            width: 100%;
            height: 100%;
            border-style: double;
        }

    #InputImgID {
        width: 100%;
        height: 100%;
        display: none;
    }

    #InputSelectID {
        display: inline-block;
        width: 40%;
        height: 35%;
        margin-top: 5%;
        margin-left: 5%;
        /*background-color: green;*/
    }

        #InputSelectID select {
            margin-top: 10%;
            width: 50%;
        }

    #InputNaAndPrID {
        margin-left: 10%;
        margin-top: 2%;
        width: 80%;
    }

        #InputNaAndPrID input {
            display: block;
            width: 100%;
            border: 1px solid gray;
            border-radius: 3px;
            margin-bottom: 2%;
        }

    .myShade {
        display: none;
        opacity: 0.7;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background-color: black;
    }
</style>

<script>
    var mySearchResult={{row|tojson}};
    var myLen={{len|tojson}};
    var myType={{type|tojson}};
    var myRole=getCookie("role");
    setCookie("InsertPictAdd","111",0.1);
    setCookie("InsertFlag","false",0.1);
    $(document).ready(function(){
        if(myType=='login'){
            //如果是登录状态，则直接显示登录界面
            Log_In();
        }
        var mySort = getCookie("mySort");
        if(mySort!=""){
            var mySortID;
            switch (mySort) {
                case "锅底": mySortID = "guoID"; break;
                case "素菜": mySortID = "suID"; break;
                case "荤菜": mySortID = "hunID"; break;
                case "酒水": mySortID = "jiuID"; break;
                default: break;
            }
            document.getElementById(mySortID).style = "color:#f16522;";
        }
        ShowResult();
        //设成负数起到清除对于cookie的作用
        setCookie("myInput","",-1);
        setCookie("mySort","",-1);
        setCookie("InsertDishName",myDishName,-0.1);
        setCookie("InsertDishPrice",myDishPrice,-0.1);
        setCookie("InsertStatus",myStatus,-0.1);
        setCookie("InsertType",myType,-0.1);
        setCookie("InsertDishID",myDishID,-0.1);

        setCookie("UpdatePrice", "", -0.1);
        setCookie("UpdateDishName", "", -0.1);
        setCookie("UpdateStatus", "", -0.1);
        setCookie("UpdateDishID", "", -0.1);
        setCookie("UpdateIndex", "", -0.1);

    })

    function getMySelect() {
        var myInput = document.getElementById("myInputID").value;
        setCookie("myInput", myInput, 0.5);

        if (myRole != "管理员") {
            StoreDish();
        }
        window.open("/", "_parent");
    }

    function StoreDish() {
        //将用户已选的菜品存入cookies中，以保证页面刷新之后，用户的选择还在
        //在跳入到已选菜单之后，开发人员也能从cookies中读取相关数据，而无需再从数据库中读取
        for (var i = 0; i < myLen; i++) {
            var myDishID = mySearchResult[i][0];
            var myAmount = document.getElementById("myFrameID" + i).getAttribute("value");
            //判断myDishID是否加入已选菜单中
            var myTem = getCookie(myDishID);
           
            if (myTem == '') {
                setCookiesArray("Dishes", myDishID);
            }
            setCookie(myDishID, myAmount, 0.1);
        }
    }

    function Log_In(){
        document.getElementById("myShadeID").style="display:block";
        $("#loginID").fadeIn();
    }
    //以下函数是属于登录的
    var myusermessage = {{MYUserMessage|tojson}};

    //以下是用于上传照片的
    function UpPict(){
        $("#myImageAddID").click();
        document.getElementById("myImageAddID").addEventListener("change", function () {
            document.getElementById("ButtonPictID").style="display:none;";
            document.getElementById("InputImgID").style="display:block";
            var myAdd = $("#myImageAddID").val();
            myAdd = myAdd.split("\\");
            var myPic = "../static/菜品照片/";
            myPic += myAdd[2];
            setCookie("InsertPictAdd",myPic,0.1);//在这里存入cookies
            document.getElementById("InputImgID").src = myPic;
        })
    }
    function InsertInfo(){
        var myPicAdd=document.getElementById("InputImgID").src;
        var myDishName=document.getElementById("myDishNameID").value;
        var myDishPrice=document.getElementById("myDishPriceID").value;
        var mySelect=document.getElementById("InputStatusID");
        var myStaIndex=mySelect.selectedIndex;
        var myStatus=mySelect.options[myStaIndex].value;
        var mySelectType=document.getElementById("InputTypeID");
        var myTyIndex=mySelectType.selectedIndex;
        var myType=mySelectType.options[myTyIndex].value;

        //以下为生成菜品ID
        var date=new Date();
        var myDishID=date.getTime();

        setCookie("InsertFlag","true",0.1);
        if(myDishName=="" || myDishPrice==""){
            window.alert("请输入完整信息");
            setCookie("InsertFlag","false",0.1);
        }

        setCookie("InsertDishName",myDishName,0.1);
        setCookie("InsertDishPrice",myDishPrice,0.1);
        setCookie("InsertStatus",myStatus,0.1);
        setCookie("InsertType",myType,0.1);
        setCookie("InsertDishID",myDishID,0.1);
    }

    function CompareSale(index){
        return function(a,b){
            var mya=a[index];
            var myb=b[index];
            if(mya>myb){
                return -1;
            }
            else if(mya<myb){
                return 1;
            }
            else{
                return 0;
            }
        }
    }

    function SortSale(){
        mySearchResult.sort(CompareSale(6));
        document.getElementById("myPictureID").innerHTML="";
        document.getElementById("ordertextID").style="color:black;";
        document.getElementById("ordersaleID").style="color:#f16522;";
        document.getElementById("orderpriceID").style="color:black;";

        ShowResult();
    }
    function SortComment(){
        mySearchResult.sort(CompareSale(7));
        document.getElementById("ordertextID").style="color:#f16522;";
        document.getElementById("ordersaleID").style="color:black;";
        document.getElementById("orderpriceID").style="color:black;";

        document.getElementById("myPictureID").innerHTML="";
        ShowResult();
    }
    function SortPrice(){
        mySearchResult.sort(CompareSale(2));
        document.getElementById("myPictureID").innerHTML="";
        document.getElementById("ordertextID").style="color:black;";
        document.getElementById("ordersaleID").style="color:black;";
        document.getElementById("orderpriceID").style="color:#f16522;";
        ShowResult();
    }

</script>

{% endblock %}


{%block pre_content%}
<div class="myjumbotron" id="myjumbotronID">
    <input class="mysearch" id="myInputID" style="outline:none;" type="text" placeholder="请输入搜索内容..." />
    <button type="button" class="mysearchbtn" onclick="getMySelect()"><span class="glyphicon glyphicon-search" style="margin-left:-20%;margin-right:10%"></span>搜索</button>
</div>
{% endblock %}

{% block content %}
<div class="myContent">
    <!-- 食材分类 -->
    <div class="mysort">
        <span class="glyphicon glyphicon-list"></span>
        <span>食材分类</span>
        <ul>
            <li><span class="glyphicon glyphicon-stop" id="guoID"></span><button onclick="UpType('锅底')">锅底</button></li>
            <li><span class="glyphicon glyphicon-stop" id="hunID"></span><button onclick="UpType('荤菜')">荤菜</button></li>
            <li><span class="glyphicon glyphicon-stop" id="suID"></span><button onclick="UpType('素菜')">素菜</button></li>
            <li><span class="glyphicon glyphicon-stop" id="jiuID"></span><button onclick="UpType('酒水')">酒水</button></li>
        </ul>
    </div>
    <!-- 新品和销量tag -->
    <div class="myorder">
        <ul>
            <li style="margin-left:1%;">
                <button onclick="SortComment()">
                    <div class="myText" id="ordertextID">
                        <p>评分<p>
                    </div>
                    <div class="myIcon">
                        <div class="myUp">
                            <span class="glyphicon glyphicon-chevron-up myUp"></span>
                        </div>
                        <div class="myDown">
                            <span class="glyphicon glyphicon-chevron-down myDown"></span>
                        </div>
                    </div>
                </button>
            </li>
            <li><button onclick="SortSale()">
                    <div class="myText" id="ordersaleID">
                        <p>销量<p>
                    </div>
                    <div class="myIcon">
                        <div class="myUp">
                            <span class="glyphicon glyphicon-chevron-up myUp"></span>
                        </div>
                        <div class="myDown">
                            <span class="glyphicon glyphicon-chevron-down myDown"></span>
                        </div>
                    </div>
                </button></li>
            <li><button onclick="SortPrice()">
                    <div class="myText" id="orderpriceID">
                        <p>价格<p>
                    </div>
                    <div class="myIcon">
                        <div class="myUp">
                            <span class="glyphicon glyphicon-chevron-up myUp"></span>
                        </div>
                        <div class="myDown">
                            <span class="glyphicon glyphicon-chevron-down myDown"></span>
                        </div>
                    </div>
                </button></li>
        </ul>
    </div>
    <div style="clear:both"></div>
    <!-- 图片画廊 -->
    <div class="myPicture_gallery" id="myPictureID">
    </div>
    <div style="clear:both"></div>
    <!-- 用于填写菜品信息的临时框 -->
    <div class="myInputDishInfo" id="myInputDishID">
        <div class="myClose">
            <button onclick="CloseFrame(1)"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div id="InputPictID">
            <input type="file" id="myImageAddID" style="display:none" />
            <button id="ButtonPictID" onclick="UpPict()">上传照片</button>
            <img id="InputImgID" src="111" />
        </div>
        <form>
            <div id="InputSelectID">
                <label for="InputStatusID">供应状态</label>
                <select id="InputStatusID">
                    <option value="供应" />供应
                    <option value="不供应" />不供应
                </select>
                <label for="InputTypeID">菜&ensp;&ensp;&ensp;&ensp;类</label>
                <select id="InputTypeID">
                    <option value="锅底" />锅底
                    <option value="荤菜" />荤菜
                    <option value="素菜" />素菜
                    <option value="酒水" />酒水
                </select>
            </div>
            <div id="InputNaAndPrID">
                <label for="myDishNameID">菜品名字</label>
                <input type="text" id="myDishNameID" />
                <label for="myDishPriceID">价格</label>
                <input type="number" id="myDishPriceID" />
            </div>
            <input type="submit" value="提交" onclick="InsertInfo()" />
        </form>
    </div>
    <div style="clear:both;"></div>
    <!-- 遮罩层 -->
    <div class="myShade" id="myShadeID">

    </div>
    <!-- 登录界面 -->
    <div class="login_posi" id="loginID">
        <!--post是数据库访问的方法-->
        <div class="myClose">
            <button onclick="CloseFrame(2)"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <form onsubmit="checkpassword()">
            <label for="usernameID"></label>
            <input type="text" id="usernameID" class="input_style" name="username" placeholder="用户名" />
            <label for="passwordID"></label>
            <input type="password" id="passwordID" class="input_style" name="password" placeholder="密码" />
            <select class="myselect" id="myselectID">
                <option>用户</option>
                <option>管理员</option>
            </select>
            <input type="submit" value="登录" />
            <a class="do_left" href="{{url_for('signin')}}" target="_blank" style="text-decoration: none">注册</a>
            <a class="do_right" href="忘记密码界面" style="text-decoration: none">忘记密码</a>
        </form>
    </div>

</div>

{% endblock %}