{% extends "layout.html" %}
{% block head %}
{{super()}}
<script type="text/javascript" src="../static/scripts/myDish.js"></script>
<script type="text/javascript" src="../static/scripts/login.js"></script>

<link rel="stylesheet" type="text/css" href="/static/content/myLogin.css" />
<link rel="stylesheet" type="text/css" href="/static/content/mySearch.css" />

<style>
    .myContent {
        width: 94%;
        margin-top: 0.5%;
        margin-left: 3%;
    }

    .mysort {
        height: 7%;
        font-size: 140%;
        padding-top: 0.4%;
        background-color: white;
    }

        .mysort ul {
            display: inline;
        }

        .mysort li {
            display: inline;
            margin-left: 7%;
        }

        .mysort button {
            border: 0px;
            background-color: white;
        }

            .mysort button:active {
                background-color: gray;
            }

    .myorder {
        margin-top: 0.8%;
        background-color: white;
        padding-top: 0.3%;
        height: 5%;
        font-size: 100%;
    }

        .myorder li {
            display: inline;
            margin-left: 3%;
        }

    .myPicture_gallery {
    }

    .myGrally {
        display: inline-block;
        float: left;
        margin-top: 3%;
        margin-left: 7%;
        width: 25%;
        height: 55%;
        border: 1px solid gray;
        background-color: white;
    }

    .myAddGrally {
        display: inline-block;
        width: 45%;
        height: 45%;
        margin-top: 25%;
        margin-left: 28%;
        border: 1px solid gray;
        background-color: gray;
        border-radius: 50%;
    }

        .myAddGrally span {
            padding-top: 9%;
            padding-left: 21%;
            font-size: 500%;
        }

        .myAddGrally button {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background-color: white;
            font-size: 500%;
            color: rgb(114, 114, 122);
        }

    .myGrallyPicture {
        width: 100%;
        height: 70%;
        background-size: 100% 100%;
    }

    .myGrallyDishname {
        height: 10%;
        width: 100%;
        text-align: center;
    }

        .myGrallyDishname p {
            font-size: 150%;
            text-align: center;
        }

        .myGrallyDishname input {
            height: 100%;
            width: 80%;
            font-size: 150%;
            text-align: center;
            border: 1px solid gray;
            background-color: RGB(245,245,245);
        }

    .myGrallySale {
        height: 10%;
        width: 50%;
        /*background-color:green;*/
        display: inline-block;
        padding-left: 3%;
    }

    .myGrallyMark {
        display: inline-block;
        height: 10%;
        width: 50%;
        /*background-color:aliceblue;*/
        padding-left: 28%;
    }

    .myGrally hr {
        margin-top: 0;
        margin-bottom: 0;
    }

    .myGrallyPrice {
        display: inline-block;
        width: 50%;
        padding-top: 1%;
        padding-left: 3%;
        height: 10%;
        font-size: 110%;
    }

        .myGrallyPrice input {
            width: 40%;
            height: 80%;
            border-radius: 10%;
            border: 1.5px solid gray;
            text-align: center;
        }

    .myGrallyAmount {
        height: 10%;
        width: 50%;
        display: inline-block;
        text-align: center;
    }

        .myGrallyAmount button {
            margin-top: 5%;
            margin-right: 1%;
            margin-left: 1%;
            border-radius: 100%;
            /*border:1px solid gray;*/
            height: 70%;
            width: 15%;
            padding-left: 4%;
        }

            .myGrallyAmount button span {
                font-size: 60%;
                color: gray;
                text-align: center;
            }

        .myGrallyAmount input {
            width: 40%;
            height: 80%;
            border-radius: 10%;
            border: 1.5px solid gray;
            text-align: center;
        }

    .myGrallyStatus {
        height: 10%;
        width: 50%;
        display: inline-block;
        text-align: center;
    }

        .myGrallyStatus p {
            display: inline-block;
        }

        .myGrallyStatus select {
            border: 1px solid gray;
        }

    .myGrallySubmit {
        width: 80%;
        margin-left: 10%;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .myInputDishInfo {
        display: none;
        position: fixed;
        opacity: 1;
        z-index: 10;
        left: 35%;
        top: 25%;
        width: 27%;
        height: 53%;
        background-color: white;
        border-style:outset;
        border-color:gray;
        border-radius:10px;
    }
    .myInputDishInfo input[type='submit']{
        width:80%;
        margin-top:3%;
        margin-left:10%;
        border-radius:5%;
    }
    .myClose{
        margin-top:1%;
        width:100%;
        height:7%;
    }
    .myClose button{
        border-style:none;
        border-radius:50%;
        width:7%;
        height:100%;
        margin-left:90%;
        background-color:RGB(245,245,245);
    }
        .myInputDishInfo form {
            /*margin-left: 10%;*/
            /*margin-top: 10%;*/
        }

    #InputPictID {
        float: left;
        display: inline-block;
        width: 40%;
        height: 35%;
        margin-top: 4%;
        margin-left: 5%;
    }
    #InputPictID button{
        width:100%;
        height:100%;
        border-style:double;
    }
    #InputImgID{
        width:100%;
        height:100%;
        display:none;
    }

    #InputSelectID {
        display: inline-block;
        width: 40%;
        height: 35%;
        margin-top: 5%;
        margin-left: 5%;
        /*background-color: green;*/
    }
    #InputSelectID select{
        margin-top:10%;
        width:50%;
    }
    #InputNaAndPrID {
        margin-left: 10%;
        margin-top: 2%;
        width:80%;
    }

        #InputNaAndPrID input {
            display: block;
            width: 100%;
            border: 1px solid gray;
            border-radius: 3px;
            margin-bottom: 2%;
        }

    .myShade {
        display: none;
        opacity: 0.6;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background-color: gray;
    }
</style>

<script>
    var mySearchResult={{row|tojson}};
    var myLen={{len|tojson}};
    var myRole=getCookie("role");
    setCookie("InsertPictAdd","111",0.1);
    setCookie("InsertFlag","false",0.1);
    $(document).ready(function(){
        ShowResult();
        //设成负数起到清除对于cookie的作用
        setCookie("myInput","",-1);
        setCookie("mySort","",-1);
        setCookie("InsertDishName",myDishName,-0.1);
        setCookie("InsertDishPrice",myDishPrice,-0.1);
        setCookie("InsertStatus",myStatus,-0.1);
        setCookie("InsertType",myType,-0.1);
        setCookie("InsertDishID",myDishID,-0.1);
    })

    function Log_In(){
        document.getElementById("myShadeID").style="display:block";
        $("#loginID").fadeIn();
    }
    //以下函数是属于登录的
    var myusermessage = {{MYUserMessage|tojson}};

    //以下是用于上传照片的
    function UpPict(){
        $("#myImageAddID").click();
        document.getElementById("myImageAddID").addEventListener("change", function () {
            document.getElementById("ButtonPictID").style="display:none;";
            document.getElementById("InputImgID").style="display:block";
            var myAdd = $("#myImageAddID").val();
            myAdd = myAdd.split("\\");
            var myPic = "../static/菜品照片/";
            myPic += myAdd[2];
            setCookie("InsertPictAdd",myPic,0.1);//在这里存入cookies
            document.getElementById("InputImgID").src = myPic;
        })
    }
    function InsertInfo(){
        var myPicAdd=document.getElementById("InputImgID").src;
        var myDishName=document.getElementById("myDishNameID").value;
        var myDishPrice=document.getElementById("myDishPriceID").value;
        var mySelect=document.getElementById("InputStatusID");
        var myStaIndex=mySelect.selectedIndex;
        var myStatus=mySelect.options[myStaIndex].value;
        var mySelectType=document.getElementById("InputTypeID");
        var myTyIndex=mySelectType.selectedIndex;
        var myType=mySelectType.options[myTyIndex].value;

        //以下为生成菜品ID
        var date=new Date();
        var myDishID=date.getTime();
        
        setCookie("InsertFlag","true",0.1);
        if(myDishName=="" || myDishPrice==""){
            window.alert("请输入完整信息");
            setCookie("InsertFlag","false",0.1);
        }

        setCookie("InsertDishName",myDishName,0.1);
        setCookie("InsertDishPrice",myDishPrice,0.1);
        setCookie("InsertStatus",myStatus,0.1);
        setCookie("InsertType",myType,0.1);
        setCookie("InsertDishID",myDishID,0.1);
    }

</script>

{% endblock %}


{%block pre_content%}
<div class="myjumbotron" id="myjumbotronID">
    <input class="mysearch" id="myInputID" style="outline:none;" type="text" placeholder="请输入搜索内容..." />
    <button type="button" class="mysearchbtn" onclick="getMySelect()"><span class="glyphicon glyphicon-search" style="margin-left:-20%;margin-right:10%"></span>搜索</button>
</div>
{% endblock %}

{% block content %}
<div class="myContent">
    <!-- 食材分类 -->
    <div class="mysort">
        <span class="glyphicon glyphicon-list"></span>
        <span>食材分类</span>
        <ul>
            <li><button onclick="UpType('锅底')">锅底</button></li>
            <li><button onclick="UpType('荤菜')">荤菜</button></li>
            <li><button onclick="UpType('素菜')">素菜</button></li>
            <li><button onclick="UpType('酒水')">酒水</button></li>
        </ul>
    </div>
    <!-- 新品和销量tag -->
    <div class="myorder">
        <ul>
            <li style="margin-left:1%;"><button>新品</button></li>
            <li><button>销量</button></li>
        </ul>
    </div>
    <!-- 图片画廊 -->
    <div class="myPicture_gallery" id="myPictureID">
    </div>
    <div style="clear:both"></div>
    <!-- 用于填写菜品信息的临时框 -->
    <div class="myInputDishInfo" id="myInputDishID">
            <div class="myClose">
                <button onclick="CloseFrame()">X</button>
            </div>
            <div id="InputPictID">
                <input type="file" id="myImageAddID" style="display:none" />
                <button id="ButtonPictID" onclick="UpPict()">上传照片</button>
                <img id="InputImgID" src="111"/>
            </div>
        <form>
            <div id="InputSelectID">
                <label for="InputStatusID">供应状态</label>
                <select id="InputStatusID">
                    <option value="供应"/>供应
                    <option value="不供应"/>不供应
                </select>
                <label for="InputTypeID">菜&ensp;&ensp;&ensp;&ensp;类</label>
                <select id="InputTypeID">
                    <option value="锅底"/>锅底
                    <option value="荤菜"/>荤菜
                    <option value="素菜"/>素菜
                    <option value="酒水"/>酒水
                </select>
            </div>
            <div id="InputNaAndPrID">
                <label for="myDishNameID">菜品名字</label>
                <input type="text" id="myDishNameID" />
                <label for="myDishPriceID">价格</label>
                <input type="number" id="myDishPriceID"/>
            </div>
            <input type="submit" value="提交" onclick="InsertInfo()"/>
        </form>
    </div>
    <div style="clear:both;"></div>
    <!-- 遮罩层 -->
    <div class="myShade" id="myShadeID">

    </div>
    <!-- 登录界面 -->
    <div class="login_posi" id="loginID">
        <!--post是数据库访问的方法-->
        <form onsubmit="checkpassword()">
            <label for="usernameID"></label>
            <input type="text" id="usernameID" class="input_style" name="username" placeholder="用户名" />
            <label for="passwordID"></label>
            <input type="password" id="passwordID" class="input_style" name="password" placeholder="密码" />
            <select class="myselect" id="myselectID">
                <option>用户</option>
                <option>管理员</option>
            </select>
            <input type="submit" value="登录" />
            <a class="do_left" href="{{url_for('signin')}}" target="_blank" style="text-decoration: none">注册</a>
            <a class="do_right" href="忘记密码界面" style="text-decoration: none">忘记密码</a>
        </form>
    </div>

</div>

{% endblock %}