{% extends "layout.html" %}
{% block head %}
{{super()}}

<script type="text/javascript" src="../static/scripts/myHand.js"></script>


<link rel="stylesheet" type="text/css" href="/static/content/myDetail.css" />

<style>
    .OrderDiv {
        width: 50%;
        background-color: RGB(245,245,245);
        margin-left: 25%;
    }

    .SuborderDiv {
        width: 100%;
        height: 40%;
        border: 1px solid gray;
        margin-top: 2%;
    }

    .myOrderPicture {
        display: inline-block;
        width: 40%;
        height: 100%;
        background-size: 100% 100%;
        float: left;
    }

    .myOrderDishname {
        display: inline-block;
        width: 60%;
        height: 20%;
        /*background-color:red;*/
    }

        .myOrderDishname p {
            margin-left: 7%;
            margin-top: 1%;
            font-size: 150%;
        }

    .myOrderPandADiv {
        width: 60%;
        height: 20%;
        margin-top: 17%;
        display: inline-block;
        /*background-color:coral;*/
    }

    .myOrderPrice {
        display: inline-block;
        float: left;
        font-size: 150%;
        width: 50%;
        height: 100%;
        /*background-color:yellow;*/
    }

        .myOrderPrice p {
            margin-left: 3%;
        }

    .myOrderAmount {
        display: inline-block;
        width: 50%;
        height: 100%;
        /*background-color:blue;*/
    }

        .myOrderAmount button {
            margin-top: 5%;
            margin-right: 1%;
            margin-left: 2%;
            border-radius: 100%;
            height: 70%;
            width: 15%;
            padding-left: 4%;
        }

            .myOrderAmount button span {
                font-size: 60%;
                color: gray;
                text-align: center;
            }

        .myOrderAmount input {
            width: 40%;
            height: 80%;
            border-radius: 10px;
            border: 1.5px solid gray;
            text-align: center;
        }

    .RMB {
        font-size: 70%;
        color: rgb(255, 172, 0);
    }

    .DragMouse {
        position: absolute;
        top: 16%;
        left: 85%;
        width: 8%;
        height: 6%;
        border-radius:10px;
    }
    #DragButtonID{
        width:100%;
        height:100%;
        border-radius:10px;
        background-color:white;
    }
    .myDetailOther{
        /*display:inline-block;*/
        width:100%;
        /*background-color:blue;*/
        height:10%;
    }
    .myDetailOther label{
        margin-left:10%;
        margin-top:1%;
    }
    .myDetailOther select{
        min-width:60%;
        text-align:center;
        border:1px solid gray;
        border-radius:10px;
    }
    .myDetailOther textarea{
        width:60%;
        min-height:50px;
    }
    #HelpID{
        font-size:100%;
        color:cornflowerblue;
        border-radius:50%;
        height:20px;
        width:20px;
        padding:0;
        border:none;
        background-color:white;
    }
    
    
</style>

<script>
    var myDishes = getCookie("Dishes");
    myDishes = myDishes.split("_");
    var mySearchResult = {{mySearchResult|tojson}};
    var myLen={{len|tojson}}
    var myAddress={{myAddress|tojson}};
    $(document).ready(function () {
        CheckoutLogin();
        if(getCookie("SubmitFlag")=='true'){
            alert("订单已提交，请前往历史订单查看状态。若想重新下单，请重新登录");
            setCookie("FinishFlag","true",0.1);
            window.open("/","_parent");
        }
        ShowOrder();
    })
    
    function ShowHelp(){
        alert("积分抵用规则:\n1、每100积分可抵用一元;\n2、抵用金额不可超过原价的50%");
    }

</script>

{% endblock %}

{% block content %}
<div class="OrderDiv" id="OrderID" style="min-height:500px;">

</div>
<!-- 拖拽鼠标的实现 -->
<div class="DragMouse" id="DragMouseID">
    <button id="DragButtonID" onclick="ShowFrame()">
        提交订单
    </button>
</div>

<!-- 用于显示订单详细信息 -->
<div class="myDishDetail" id="myDishDetailID">
    <div class="myClose">
        <button onclick="CloseFrame( )"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <hr style="border:dotted">
    <div class="myDetailHR">
        <hr style="border:double">
    </div>
    <ul id="myDishInfoID"></ul>
    <div class="myDetailHR">
        <hr style="border:double" id="HrElse">
    </div>
    <!-- 订单详情中的其他内容 -->
    <div class="myDetailOther">
        <label for="DistributionID">配送方式:</label>
        <select id="DistributionID">
            <option value="堂食">堂食</option>
            <option value="外卖">外卖</option>
        </select>
        <br/>
        <label for="AddressID">地&ensp;&ensp;&ensp;&ensp;址:</label>
        <select id="AddressID">
            
        </select>
        <br/>
        <label for="GradeID">积分抵用:</label>
        <select id="GradeID">

        </select>
        <!-- 积分抵用帮助按钮 -->
        <button class="glyphicon glyphicon-question-sign" id="HelpID" onclick="ShowHelp()"></button>
        <br/>
        <label for="OverheadID">附加信息:</label>
        <textarea id="OverheadID"></textarea>

    </div>
    <hr style="border:dotted">
    <ul class="myCostul" id="myCostulID">
       
    </ul>
    <button class="myConfirmButton" onclick="UploadOrder()">
        确认订单
    </button>
</div>

<div class="myShade" id="myShadeID">

</div>

{% endblock %}